<!DOCTYPE html>
<html lang="en">
<head>
	<title>pyhatchery</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
	<div id="title-container">
		<div id="title"><a href="{{ url_for('apps') }}">Pyhatchery</a></div>
		<div id="subtitle">{% block subtitle %}{% endblock %}</div>
	</div>

	<div id="user-container">
		{% if session.user %}
		<div>Hello, {{ session.user.name }}.</div>
		<div><a href="{{ url_for('logout') }}">Logout</a></div>
		{% else %}
		<div><a href="{{ url_for('login') }}">Login</a></div>
		{% endif %}
	</div>

	<div id="notification-container">
		{% for msg in get_flashed_messages() %}
		<div class="notification">{{ msg }}</div>
		{% endfor %}
	</div>

	{% block content %}
	{% endblock %}
</body>
</html>